<%= error_messages_for :forum %>
<p style="float:right; margin-top:0">
<label>Posição</label><br />
<%= f.text_field :position, :size => 5 %></p>

<p id="forum_name"><%= f.text_field :name %></p>
<p id="forum_descripion"><%= f.text_area :description %></p>